@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-Regular.woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url('/public/fonts/Montserrat-Regular.woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Monserrat-Medium';
    src: url('/public/fonts/Montserrat-Medium.woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Monserrat-SemiBold';
    src: url('/public/fonts/Montserrat-SemiBold.woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Monserrat-Bold';
    src: url('/public/fonts/Montserrat-Bold.woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Monserrat-ExtraBold';
    src: url('/public/fonts/Montserrat-ExtraBold.woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Monserrat-Alternates';
    src: url('/public/fonts/MontserratAlternates-SemiBold.woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Valisca';
    src: url('/public/fonts/Valisca.woff2');
    font-style: normal;
    font-weight: normal;
}