$font-family: "Montserrat", sans-serif;
$second-family: "Monserrat-Alternates", sans-serif;
$third-family: "Valisca ", sans-serif;
$font3: "Inter", sans-serif;
$white: #fff;
$error-color: #fa1c1c;
$white-50: rgba(255, 255, 255, 0.5);
$prime-prime: #503770;
$prime-prime-10: rgba(80, 55, 112, 0.1);
$prime-prime-3: rgba(80, 55, 112, 0.03);
$prime-dark-prime: #47296d;
$prime-light-prime: #614388;
$black-black: #222;
$black-black-70: rgba(34, 34, 34, 0.7);
$black-black-30: rgba(34, 34, 34, 0.3);
$black-black-3: rgba(34, 34, 34, 0.03);